* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

.app {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    width: 100%;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 23px 81px;
    }
}